.headerlogin{
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center;
  box-sizing: border-box;
  padding-bottom: 20px;
  width: auto;
  background-color: transparent;
  
}

h1{
    font-size: 200px;
    text-align: center;
    color: white;
    background-color: none;
}

h2{
    font-size: 60px;
    text-align: center;
    color: white;
    background-color: none;
}

input
button {
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  border: 5px solid white;
  font-size: 18px;
  font-weight: bold;
  color: #1c1c43;
  cursor: pointer;
  display: block;          
  margin: 0 auto;          
  width: 200px;   
  margin-top: 40px;         
  max-width: 300px;
}

